header {
    max-height: 73px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #0000CD;
    border-bottom: #E4E7F2 solid 1px;
}
main {
    display: flex;
    align-items: baseline;
}

.hernia {
    width: 20%;
    border-right: #E4E7F2 solid 1px;
}

button {
    background: #FFFFFF;
    color: #0037FF;
    border: #0037FF solid 1px;
    border-radius: 12px;
    padding: 14px 20px 14px 20px;
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin: 0 26px;
}

h3 {
    color: #0000CD;
}

.panel {
    margin: 24px;
    width: 80%;
}

.choose-type {
    display: flex;
    align-items: baseline;
    h3 {
        max-width: 150px;
        max-height: 55px;
    }
    button {
        max-width: 210px;
        max-height: 55px;
    }
}

.choose-id {
    display: flex;
    align-items: baseline;
    h3 {
        max-width: 320px;
        max-height: 55px;
    }
    select {
        border: 1px solid #0037FF;
        color: #0037FF;
        padding: 14px 20px 14px 20px;
        border-radius: 12px;
        margin: 13px;
    }
}

.add-topic {
    display: flex;
    align-items: baseline;
    h3 {
        max-width: 320px;
        max-height: 55px;
    }
    input {
        height: 55px;
        width: 400px;
        border: 1px solid #0037FF;
        padding: 5px 15px;
        border-radius: 12px;
        color: #7F7FFF;
        font-family: IBM Plex Sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        margin: 10px 26px;
    }
}

.topics {
    h3 {
        max-width: 270px;
        max-height: 55px;
    }
    margin: 10px 26px;
    max-height: 422px;
    width: 400px;
    border: 1px solid #0037FF;
    padding: 10px 20px;
    border-radius: 12px;
    color: #7F7FFF;
    overflow: auto;
    button {
        padding: 2px;
        margin: 5px;
        right: 0;
    }
}